body {
    background-color: #3aa612;
}

.grassPatch {
    z-index: -1;
}

.UIElement {
    z-index: 1;
}

#ProgressbarContainer {
    height: 10px;
    width: 100px;
    border-style: solid;
    border-color: black;
    background-color: #3aa612;
    position: absolute;
    top: 35px;
}

#ProgressbarContent {
    height: 10px;
    width: 0;
    position: absolute;
    top: 38px;
    left: 11px;
}

#CatCount {
    margin-top: 22px;
    margin-bottom: 0;
}